[Unit]
Description=hysteria2
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/srtunnel
ExecStart=/opt/srtunnel/bin/hysteria2 server --config configs/hysteria2.yaml
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target