[Unit]
Description=srtunnel websocket
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/srtunnel
ExecStart=/opt/srtunnel/bin/websocket -c configs/config.yaml
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target