[Unit]
Description=telegrambot
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/srtunnel
ExecStart=/opt/srtunnel/bin/telegram_bot
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target