[Unit]
Description=trafficmeter
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/srtunnel
ExecStart=/usr/bin/python3 /opt/srtunnel/bin/traffic_wrapper.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target