[Unit]
Description=ws-sr
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/srtunnel
ExecStart=/opt/srtunnel/bin/ws-sr -c configs/config.yaml
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target